html {
	background-color: #317393;
	height: 100%;
}

body {
	background-color: white;
	max-width: 80%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: auto;
	color: black;
}

a { color: white; }

.content a {
	color: black;	
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	display: inline;
	float: left;
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #825acd;
}

.active {
  	background-color: white;
  	color: #317393;
}

a:hover {
	color: #eda4eb;
}

h1 {
	color: #bababa;
	font-size: 3em;
}

table {
	width: 100%;
	border: 0.3em solid black;
	margin: auto;
}

th, td {
  	border: 0.15em solid black;
}

table, tr, td {
	border-collapse: collapse;
}

tr {
	height: 3em;
}
