html {
	background-color: #317393;
}

body {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	color: white;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	display: inline;
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #825acd;
}

.active {
  background-color: #317393;
}

a {
	color: white;
}

a:hover {
	color: #eda4eb;
}

h1 {
	color: #bababa;
	font-size: 3em;
}